<launch>
	<arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/quidditch_goalpost/model.sdf"/>
	<remap to="/cv_camera/image_raw"  from="/iris/usb_cam/image_raw"/>
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
		<arg name="sdf" value="/home/robot/px4sim/src/Firmware/Tools/sitl_gazebo/models/iris_fpv_cam/iris_fpv_cam.sdf"/>
	</include>
	<include file="$(find move_to_goal)/launch/blueGoalDetector.launch"/>
	<!-- Next line only used for problem 4 part b for adjusting hsv values -->
	<include file="$(find ball_detector)/launch/displayDebugImages.launch"/>
	<node name="goal" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file $(arg sdf) -model goal -x 7 -y 3 -z 0 -R 0 -P 0 -Y 1.5707"/>
</launch>
